link(rel="stylesheet" href="style.css")

a(href="/db") >业务数据库
h1 数据仓库

form(action="dw")
  input(type="text" name="slice_key" placeholder="字段名" value="#{_slice_key}")
  input(type="text" name="slice_vals" placeholder="取值, 取值, 取值, .." value="#{_slice_vals}")
  input(type="hidden" name="type" value="slice")
  button(type="submit") 切块
  a(href="dw") 复原

.row
  .span
    table
      caption 销售事实表
      thead
        tr
          th id
          th 订单日期id
          th 交货日期id
          th 客户id
          th 地区id
          th 商品id
          th 销售量
          th 销售金额
      tbody
        each item in market_fact
          tr
            td #{item.id}
            td #{item.order_date_id}
            td #{item.consign_date_id}
            td #{item.customer_id}
            td #{item.region_id}
            td #{item.product_id}
            td #{item.order_num}
            td #{item.order_price}

.row
  .span
    table
      caption 客户
      thead
        tr
          th id
          th 姓名
          th 地址
          th 地区id
      tbody
        each item in customers
          tr
            td #{item.id}
            td #{item.name}
            td #{item.address}
            td #{item.region_id}
  .span
    table
      caption 地区
      thead
        tr
          th id
          th 名称
      tbody
        each item in regions
          tr
            td #{item.id}
            td #{item.name}
  .span
    table
      caption 商品
      thead
        tr
          th id
          th 名称
      tbody
        each item in products
          tr
            td #{item.id}
            td #{item.name}

.row
  .span
    table
      caption 日期
      thead
        tr
          th id
          th 年
          th 月
          th 日
      tbody
        each item in dates
          tr
            td #{item.id}
            td #{item.year}
            td #{item.month}
            td #{item.date}
